@font-face
{
	font-family:Batch;
	src:url('batch-icons-webfont.eot');
	src:url('batch-icons-webfont.eot?#iefix') format('embedded-opentype'),
  	url('batch-icons-webfont.woff') format('woff'),
  	url('batch-icons-webfont.ttf') format('truetype'),
  	url('batch-icons-webfont.svg#batchregular') format('svg');
	font-weight:normal;
	font-style:normal;
    /*font-size:64px;*/
}

.batch {
font-family:"Batch"; /*or whatever you've decalred your font name as*/
font-size: 4vh;
/*font-size:64px;*/
line-height:1;
display:inline-block;
/*color: #cccccc;*/
}
